<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <hr class="light">
                <h1 class="section-heading" style="font-size: 90px;">Your vote is worth  <b class="text-secondary"><%= data.get_voter_power_index %></b> times as much as a typical vote in the U.S.</h1>
                <hr class="light">

            </div>
        </div>
    </div>
</section>