
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Make Your Vote Count!</h1>
          <hr>
          <p>Find out everything you need to know to make you an informed and effective voter! To begin, enter your current address below.</p>

          <div id="locationField">
            <%= form_for :voter_stats, url: voter_stats_path, html: { class: "form-inline" } do |form| %>

            <div class="form-group">
              <%= form.text_field :address,
                                  id: "autocomplete",
                                  placeholder: "Enter your address",
                                  onFocus: "geolocate()",
                                  class: "form-control" %>
              </div>

                    <%= form.submit "Go!", class: "page-scroll btn btn-primary btn-xl sr-button" %>

                  <% end  %>
                </div>


            </div>
        </div>
    </header>
    </div>



<%= render "autocomplete_js" %>
