
    <header>



      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Make Your Vote Count!</h1>
          <hr>
          <h3><b>Be an informed and effective voter! <br>Enter your current address below.</b></h3>
          <br><br><br><br><br><br><br><br>
          <div id="locationField">
            <%= form_for :voter_stats, url: voter_stats_path, html: { class: "form-inline" } do |form| %>

            <div class="form-group">
              <%= form.text_field :address,
                                  id: "autocomplete",
                                  placeholder: "Enter your address",
                                  onFocus: "geolocate()",
                                  class: "form-control" %>
              </div>

                    <%= form.submit "Go!", class: "page-scroll btn btn-primary btn-xl sr-button" %>

                  <% end  %>
                </div>


            </div>
        </div>
    </header>




<%= render "autocomplete_js" %>
